service cloud.firestore {
  match /databases/{database}/documents {
    match /Lists/{id} {
      allow read: if request.auth.uid != null;
    }

    match /Currencies/{id} {
      allow read: if request.auth.uid != null;
    }
  }
}